[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "flexmet"]
	path = flexmet
	url = https://github.com/leahfeuerstahler/flexmet
[submodule "scaleAlign"]
	path = scaleAlign
	url = https://github.com/cran/scaleAlign
